fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
requests
jinja2
pytest
pytest-mock
httpx
pyjwt
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
alembic
azure-monitor-opentelemetry
reportlab
APScheduler
stripe
slowapi
structlog
tenacity
psycopg2-binary
sentry-sdk[fastapi]
cryptography
