fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
requests
jinja2
pytest
pytest-mock
httpx
pyjwt
passlib[bcrypt]
python-multipart
alembic
azure-monitor-opentelemetry
reportlab
APScheduler
stripe
slowapi
structlog
tenacity
psycopg2-binary
